<span class="profile_close" style="float:right;">
    <i  class='fas fa-times-circle' style='font-size:24px'></i>
</span>
 <img src="/media/{{form.photo}}" style="margin-left:40%;width:25%;" class="w3-circle"><br><br>
<table style="margin:auto">
    <tr>
        <td>NAME</td>
        <td>:{{form.name|upper}}</td>
    </tr>
    <tr>
        <td>DOB</td>
        <td>:{{form.dob|upper}}</td>
    </tr>
    <tr>
        <td>GENDER</td>
        <td>:{{form.gender|upper}}</td>
    </tr>
    <tr>
        <td>MOBILE</td>
        <td>:{{form.mobile|upper}}</td>
    </tr>
    <tr>
        <td>EMAIL</td>
        <td>:{{form.email|upper}}</td>
    </tr>
    <tr>
        <td>ADDRESS</td>
        <td>:{{form.address|upper}}</td>
    </tr>
    <tr>
        <td>QUALIFICATION</td>
        <td>:{{form.qualification|upper}}</td>
    </tr>
    <tr>
        <td>EXPERIENCE</td>
        <td>:{{form.experience|upper}}</td>
    </tr>
    <tr>
        <td>DATE OF JOIN</td>
        <td>:{{form.date_of_joining|upper}}</td>
    </tr>
    <tr>
        <td>DEPARTMENT</td>
        <td>:{{form.department|upper}}</td>
    </tr>
    <tr>
        <td>SHIFT</td>
        <td>:{{form.shift|upper}}</td>
    </tr>
</table><br>
<style>
table{
  }
td{
  padding:1px;
   }
</style>
